@model TwitterMvc.Dtos.ProfileDto

    <div class="row mt-4">
        <div class="col-md-3 information">
            <div class="profile-avatar">
                <img src="/img/boy.png" />
                <div class="profile-avatar-info">
                    <p class="profile-avatar-info-username">@Model.Username</p>
                </div>
            </div>
            <div class="row follow-button">
                <div class="col-md-9 follow-text">
                    Follow
                </div>
                <div class="col-md-3 follow-number">
                    15
                </div>
            </div>
            <a href="" class="btn btn-info profile-buttons">Send Question</a>
            <div class="row social">
                <div class="col-md-3 social-png">
                    <img src="/img/fb.png" />
                </div>
                <div class="col-md-3 social-png">
                    <img src="/img/ig.png" />
                </div>
                <div class="col-md-3 social-png">
                    <img src="/img/gh.png" />
                </div>
                <div class="col-md-3 social-png">
                    <img src="/img/yt.png" />
                </div>
            </div>
            <h4 class="">Information</h4>
            <div class="profile-info-field">Email: @Model.Email</div>
            <div class="profile-info-field">Name: Patryk Czyż</div>
            <div class="profile-info-field">Age: 20</div>
            <div class="profile-info-field">Gender: Male</div>
            <div class="profile-info-field">Country: Poland</div>
        </div>
        <div class="col-md-9 posts">
            <div class="post">
                <div class="post-title">
                    What is Lorem Ipsum?
                </div>
                <div class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="post-date">
                    15:44  |  28.05.2020
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    What is Lorem Ipsum?
                </div>
                <div class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="post-date">
                    15:44  |  28.05.2020
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    What is Lorem Ipsum?
                </div>
                <div class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="post-date">
                    15:44  |  28.05.2020
                </div>
            </div>
        </div>
    </div>