/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.buttons {
    background: white;
    border: 0;
    padding: 10px;
    color: gray;
}

.button-active {
    background: #337bf6;
    color: white;
}

.home-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

.home-list {
    border: 2px solid #b2bec3;
    border-radius: 5px;
}

.information {
    padding: 0 25px;
}

.profile-avatar {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.profile-avatar img {
    width: 75%;
    margin: auto auto;
    display: block;
    padding: 10px;
    padding-top: 30px;
}

.profile-avatar-info {
    text-align: center;
    padding: 5px 10px;
}

.profile-avatar-info-username {
    font-size: 24px;
    font-weight: 500;
}

.right-field {
    text-align: center;
}

.profile-buttons {
    margin-top: 15px;
    width: 100%;
}

.follow {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.follow-button {
    color: white;
    border-radius: .25rem;
    text-align: center;
    margin: 0;
}

.follow-number {
    background: #BDC3C7;
    padding: .375rem .75rem;
    border: 1px solid #BDC3C7;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.profile-info-field {
    padding: 5px;
}

.profile-info {
    margin-top: 25px;
}

.post {
    padding: 50px;
    padding-top: 35px;
    padding-bottom: 60px;
    margin: auto auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 30px;
}

.post-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
}

.post-text {
    font-size: 16px;
}

.post-date {
    margin-top: 20px;
    color: gray;
    float: right;
    font-size: 14px;
}

.social {
    margin-top: 40px;
    margin-bottom: 50px;
}

.social-png {
    float: left;
    width: 25%;
    padding: 5px;
}

.social-png img {
    width: 100%;
}

.profile-link {
    color: black;
}

.profile-link:hover {
    color: black;
    text-decoration-color: gray;
}

.dropdown {
    float: right;
}

.dropdown button {
    border: 0;
    outline: 0;
    background: 0;
}