@using TwitterMvc.Enums;

@model List<TwitterMvc.Dtos.UserListItem>
@{
    string GetImg(GenderEnum gender)
    {
        return $"/img/{gender}.png";
    }
}


<div class="row mt-5">
    @foreach (var user in Model)
    {
    <div class="col-md-3">
        <a class="profile-link" asp-controller="Profile" asp-action="Index" asp-route-userId="@user.Id">
            <div class="profile-avatar">
                <img src="@GetImg(user.Gender)" />
                <div class="profile-avatar-info">
                    <p class="profile-avatar-info-username">@user.Username</p>
                </div>
            </div>
        </a>
    </div>
    }
</div>