@model List<TwitterMvc.Dtos.UserListItem>

<h1>Home</h1>

<ol>
    @foreach (var user in Model)
    {
        <li>
            <a asp-controller="Profile" asp-action="Index" asp-route-userId="@user.Id">
                @user.Username
            </a>
        </li>
    }
</ol>